.imgnb{
  width: 4%;
  height: 4%;
}
.nbr>input{
  border-radius: 50px;
  padding: 5px;
}
.nbr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color:rgba(230, 216, 216, 0);
  padding: 10px;
}
.foot{
  text-align: center;
  color:black;
  background-color:gray;
  
}
.card{
  background-color:black;
    color: white;
    display: flex;
    gap:10px;
    margin: 1%;
    width: 700px;
    
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elm{
  display:table-column;
  padding: 1%;
  flex-wrap: wrap;
  gap: 10px;

}
.App{
  background-color: red;
}
.nvb{
  display: flex;
  gap: 20px;
}